{% extends 'base.html' %}

{% block title %}Article List{% endblock %}

{% block content %}
    <h1 class="mb-4">Опубликованные статьи</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'create_article' %}" class="btn btn-primary mb-4">Создать новую статью</a>
    {% endif %}
    
    <form method="get" class="mb-4">
        <div class="form-group">
            {{ form.query.label_tag }}
            {{ form.query }}
        </div>
{#        <div class="form-group">#}
{#            {{ form.tags.label_tag }}#}
{#            {{ form.tags }}#}
{#        </div>#}
        {% if query %}
            <div class="col-auto">
                <a href="{% url 'article_list' %}" class="btn btn-danger">Назад</a>
            </div>
        {% endif %}
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
    
    {% for article in articles %}
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="article-header">
                    <h3 class="card-title text-muted">
                        <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                    </h3>
                    {% if article.author %}
                        <p class="text-muted">{{ article.author.username }}</p>
                        <p class="text-muted">{{ article.author.email }}</p>
                    {% else %}
                        <p class="text-muted">Неизвестный автор</p>
                    {% endif %}
                </div>
                <small class="text-muted">{{ article.created_at|date:"F d, Y" }}</small>
            </div>
            <p class="card-text mt-3">{{ article.text|truncatewords:30 }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <p><strong>Тэги:</strong>
                    {% for tag in article.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                tags: true,
                tokenSeparators: [',', ' '],
                createTag: function(params) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newTag: true
                    };
                },
                insertTag: function(data, tag) {
                    data.push(tag);
                }
            });
        });
    </script>
{% endblock %}
