{% extends 'base.html' %}

{% block title %}Moderation List{% endblock %}

{% block content %}
    <h1>Moderation List</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.text }}</p>
                <p>Author: {{ article.author.name }}</p>
                <p>Submitted: {{ article.created_at }}</p>
                <a href="{% url 'moderate_article' article.id %}" class="btn btn-primary">Moderate</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}