{% extends 'base.html' %}

{% block title %}Moderation List{% endblock %}

{% block content %}
    <h1>Moderation List</h1>
    <ul>
        {% for article in articles %}
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="article-header">
                        <h3 class="card-title text-muted">
                            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                        </h3>
                        {% if article.author %}
                            <p class="text-muted">{{ article.author.username }}</p>
                            <p class="text-muted">{{ article.author.email }}</p>
                        {% else %}
                            <p class="text-muted">Author Unknown</p>
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ article.created_at|date:"F d, Y" }}</small>
                </div>
                <p class="card-text mt-3">{{ article.text|truncatewords:30 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <p><strong>Тэги:</strong>
                        {% for tag in article.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}